nav
{
    font-size: 23px;
    line-height: 32px;
    background-color: #053336;
    background-position-x: 23px;
    
}
img
{
  font-size: 5px;
}
footer
{
    font-size: 15px;
    background-color:#102ccc;
}
h2
{
    font: size 20px;
  left:100px ;
  right: 100px;

}