header
{
    font-size: 23px;
    line-height: 32px;
    background-color: #053336;
    background-position-x: 23px;
    
}
#navegador
{
  speak-as: 20%;
  color: #053336;
}
footer
{
    font-size: 15px;
    background-color:#102ccc;
}
h2
{
    font: size 20px;
  left:100px ;
  right: 100px;

}