header
{
    margin-left: 25%;
    margin-right: 25%;
    font-family:Ubuntu,sans-serif;
    background-color: #169196 ;
    
}
.burger
{
    left: 30%;
}
.logo
{
   margin-left:1%;
   right:10% ;
   width: 9%; 
   float:left;

}
.titulo
{
    margin-left:30%;
    text-align: left;
}
.navigation
{
    background-color: #0e0f0e;
    color:#ffff;
    text-decoration: none;
 
}

a
{
    text-decoration: #ffff;
    color:#fff;
    padding: 15px;
}

.Cocha
{
    right:50%;
    width:50%; 
    margin-left: 25%;
    z-index: 2;
}
h1
{
    color:#169196;
    margin-left: 42%;
}
.colo
{
    margin-left:50% ;
}
.clima
{
    margin-left: 21% ;
}
.tiempo, .dias
{
    border:4px groove rgb(45, 197, 151);
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 5%;
    top:20%;
    z-index:1 ;
    
}
.tdias
{
    border:4px groove rgb(45, 197, 151);
    margin-left: 40%;
    margin-right: 40%; 
}

article
{
    margin-left: 23%;
    margin-right: 30%;
}

.contact
{
    
    border:4px groove rgb(45, 197, 151);
    margin-left:23%;
    margin-right: 30%;
    background-color: #169196;
}
.tabla
{
    top:2px;
}
th,td
{
    border:4px groove rgb(45, 197, 151); 
}
#inf
{
    margin-left: 40%;
}
article
{
    border:4px; 
    background-color: #169196;
}
#co
{
    float: right;
    padding: 10px;
}
#tconoce
{
    text-align: center;
    color: #fafafa;
}
#imgcontac
{
    width: 31%;
    right: 31%;
    float: left;
    padding: 20px;
    
}
#parrafo
{
    margin-left: 50%;
}
footer
{
    border:4px groove rgb(45, 197, 151); 
    margin-left: 23%;
    margin-right: 30%;
    background-color: aquamarine
}